<div class="center">
  <mat-spinner *ngIf="!imageLoaded"></mat-spinner>
  <img [hidden]="!imageLoaded" (load)="showImage()" src="assets/dice.png">
</div>
<div class="center">
  <p class="roll-die-display-text">{{ displayText }}</p>
</div>
<div class="center">
  <button [disabled]="inProgress" (click)="onHitMe()">Hit me!</button>
</div>
<div>
  <p>Icons made by <a href="https://www.flaticon.com/authors/dimi-kazak" title="Dimi Kazak">Dimi Kazak</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>
