/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background-color: #343a40;
}

h1 {
  color: white
}

p {
  color: white
}

li {
  color: white
}

.mat-form-field-label {
  color: white !important;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-ripple {
  background-color: white !important;
}

.mat-input-element {
  color: white !important;
  caret-color: white;
}

.mat-input-element::placeholder {
  color: blueviolet;
}

.mat-list-text {
  color: white !important;
}

.mat-progress-spinner {
  stroke: darkgreen
}

.mat-pseudo-checkbox {
  color: white !important;
}

.mat-pseudo-checkbox-checked {
  background: darkgreen
}

.center {
  display: flex;
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
